{% layout "layout.liquid" %} {% block content %}
<div>
    <h2>Discover Albums</h2>

    {% for album in data limit: 5 %}
    <a href="/albums/{{ album.id }}" name="name">

        <img src="{{ album.cover_medium}}" alt="{{ album.title }}"><br>
        <h4>{{ album.title }}</h4>
    </a>
    <h5>{{ artist }}</h5>
    {% else %}
  The collection is empty.
    {% endfor %}


    <a href="/albums/{{ albumData.id }}" name="name">

        <img src="{{ albumData.cover_medium }}" alt="{{ albumData.title }}"><br>
        <h4>{{ albumData.title }}</h4>
    </a>
    <h5>{{ albumData.artist.name }}</h5>

</div>
{% endblock %}