{% layout "layout.liquid" %} {% block content %}
<div>
    <h2>Discover Albums</h2>

    <a href="/albums/{{ albumData.id }}" name="name">

    <img src="{{ albumData.cover_medium }}" alt="{{ albumData.title }}"><br>
        <h4>{{ albumData.title }}</h4>
    </a>
    <h5>{{ albumData.artist.name }}</h5>

</div>
{% endblock %}