{% layout "layout.liquid" %} {% block content %}
<div class="single2">
    <a href="/albums">
        <button>Back to Albums</button>
    </a><br>
    

    <img src="{{ album.cover_big }}" alt="{{ album.title }}" class="single"><br>
    <h2 name="title">{{ album.title }}</h2>
    <h3>{{album.artist.name }}</h3>
    <h4>{{ summary[0] }}</h4>
    <h4>{{ summary[1] }}</h4>
    <h4>{{ summary[2] }}</h4> 
    <h4>{{ summary[3] }}</h4>
    {% if summary[5] %}
    <p>{{ summary[5] }}</p>
    {% endif %}<br>

    <img src="{{ summary[4] }}" alt="{{ album.title }}">

    <form action="/albums/{{ album.id }}/favorite" method="POST">
        <input type="text" class="albumInfo" name="id" value="{{ album.id }}">
        <input type="text" class="albumInfo" name="title" value="{{ album.title }}">
        <input type="text" class="albumInfo" name="cover_medium" value="{{ album.cover_medium }}">
        <input type="text" class="albumInfo" name="cover_big" value="{{ album.cover_big }}">
        <input type="text" class="albumInfo" name="genre_id" value="{{ album.genre_id }}">
        <input type="text" class="albumInfo" name="artistID" value="{{ album.artist.id }}">
        <input type="text" class="albumInfo" name="artistName" value="{{ album.artist.name }}">


        <!-- <input type="text" class="albumInfo" name="artistName" value="{{ album.artist.name }}">
        <input type="text" class="albumInfo" name="artistName" value="{{ album.artist.name }}">
        <input type="text" class="albumInfo" name="artistName" value="{{ album.artist.name }}"> -->
        <input type="text" class="albumInfo" name="summary" value="{{ summary }}">
        <button>Add to My Favorites</button>
    </form>

</div>
{% endblock %}